server:
  port: 8080

spring:

  profiles:
    active: dev

  application:
    name: api-gateway


  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: NTg0ZTVmYzQ4Y2EwNDc2YmIzY2FhYjFiM2YwYTEwMTdmZTY1ZjYzYjQxZGYxMWU5ZTYxYmY2Y2M2YzU5YjA=


  cloud:
    gateway:
      routes:

        - id: user-service-route
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/users/(?<remaining>.*), /user/$\{remaining}

        - id: account-service-route
          uri: lb://ACCOUNT-SERVICE
          predicates:
            - Path=/api/accounts/**
          filters:
            - RewritePath=/api/accounts/(?<remaining>.*), /accounts/$\{remaining}

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/


application:
  security:
    jwt:
      # Eğer secret-key'i application.yml'ye değil, application-dev.yml'ye yazıyorsanız
      # bu blok application-dev.yml'de olmalıdır.
      expiration: 36000000