spring:
  profiles:
    active: dev
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/userBanking-db
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      # Eureka Server hala çalışıyorsa (8761'de) bu adres kullanılır
      default-zone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${instanceId:${random.value}}